/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* all images in main will fit their containers */
main img {
  max-width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

/* form-group is only used in our form elements to easier manipulate the placement of fields */
.form-group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}
/* centers the text of the submit button */
.item button {
  justify-content: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

/* added some styling to the default here to align our nav buttons and keep them together in one row */
header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
/*This code below keeps our select and input fields fully to the right of each respective label */
.form-label {
  flex: 1;
  margin: 10px;
}

.form-input {
  justify-content: right;
  margin: 10px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* I have two breakpoints here because the form box starts looking really bad around 670px and less so I switch it early and completely transition to the full mobile layout at 480px and below */ 
@media all and (min-width: 680px) {
  /*changes our flex direction from column to row in our form as the screen gets bigger */
  form {
    flex-direction: row;
  }

  /*this represents the groups of our main content, containing the images and text, changing from columns to rows and keeping items centered as the screen size increases */
  .group {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form-label,
  .form-input {
    margin: 0;
  }

  .form-group {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .form-label label,
  .form-input input,
  .form-input select {
    display: flex;
    width: 65%;
  }
  /*this class is only used on the larger screens, it changes our "ideas" section to 2 columns of 2 rather than 1 column of 4 */
  .lg-Column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 50%;
  }
}
@media all and (min-width: 480px) {
  header {
    background-color: #ff385c;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  nav ul {
    margin: 20px 0 10px 0;
  }

  nav ul,
  nav ul li {
    padding: 0;
  }

  main img {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .logo {
    font-size: 36px;
    margin: 10px;
  }
}
