/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* all images in main will fit their containers */
main img {
  max-width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}
/* centers the text of the submit button */
.item button {
  justify-content: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

/* added some styling to the default here to align our nav buttons and keep them together in one row */
header nav ul li {
  display:inline-block;
  list-style-type: none;
  margin-bottom: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}
/*This code below keeps our select and input fields fully to the right of each respective label */
form select,
form input {
  margin-bottom: 20px;
  width: 60%;
  float: right;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 684px) {
  form {
    flex-direction: row;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .vacation-form .item {
    display: flex block;
    flex: 1 1 auto;
    flex-direction: column;
  }
 
  .item label
  , .item input 
  , .item select 
  , .item button{
    display: flex;
    width: 100%
  }

  .lg-Column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 50%;
  }
}
@media all and (min-width: 480px) {

  header {
    background-color: #ff385c;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  nav ul {
    margin: 20px 0 10px 0;
  }

  nav ul,
  nav ul li {
    padding: 0;
  }


  main img {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }


  .logo {
    font-size: 36px;
    margin: 10px;
  }

}
